<div class="page-card effect-border-1 padding-01">
  <div class="page-card__picture position-relative">
    <div class="page-card__menu position-absolute">
      <%= button_to edit_album_page_path(page) do %>
        <div class="page-card__menu__icon btn">
          <%= show_svg("/icons/edit.svg")%>
        </div>
      <% end %>
      <%= button_to album_page_path(page), method: :delete do %>
        <div class="page-card__menu__icon btn">
          <%= show_svg("/icons/trash.svg")%>
        </div>
      <% end %>
    </div>
    <%= image_tag "https://i.imgur.com/removed.png", alt:"Album Image", class:"page-card__picture__img" %>
  </div>
  <p class="sticker__card_code">
    <strong><%=page.page_number%></strong>
  </p>
</div>
