<div class="specific-user-profile">
  <%= render 'users/user/profile_nav' %>
  <container class="container container--list">
    <div class="header" style="justify-content: space-between">
      <%= link_to "Voltar", :back, class:"btn btn--secondary" %>
      <h4> Editar páginas do Album </h4>
      <div class="btn btn--primary modal__open">Adicionar Página</div>
    </div>
    <section class="section section--f-start">
      <div class="container__cards">
        <% @album_pages.each do |page| %>
          <%= render "page_item", page: page%>
        <%end%>
      </div>
    </section>
  </container>
</div>

<div class="modal effect-shadow-1 modal--hidden">
  <header class="modal__header">
    <button class="modal__close btn btn--secondary"> X </button>
    <h3> Adicionar Página </h3>
  </header>
    <div class="modal__body">
      <div class="modal__body__text">
        <%= render 'album_pages/form', album_page: @album_page_new, album: @album %>
      </div>
    </div>
</div>

<%= javascript_include_tag("helpers/open_and_close_modal.js") %>
