<div class="specific-user-profile">
  <%= render 'users/user/profile_nav' %>
  <section class="section section--f-start">
    <div class="header" style="justify-content: space-between">
      <%= link_to "Voltar", user_album_path(album_id: @album.id), class:"btn btn--secondary" %>
      <div>
      </div>
      <div class="btn btn--primary modal__open">Abrir figurinha</div>
    </div>
    <div class="album_pages">
      <div class="book-section">
          <div class="container">
            <%= render "page", album: @album %>
          </div>
          <button onclick="turnLeft()">Prev</button> 
          <button onclick="turnRight()">Next</button>
          <br/>
      </div>
    </div>
  </section>
</div>


<div class="modal effect-shadow-2 modal--hidden">
  <header class="modal__header">
    <button class="modal__close btn btn--secondary"> X </button>
    <h3> Nova figurinha </h3>
  </header>
  <div class="modal__body">
    <div class="modal__body__info">
      <p> Você ainda tem <strong> <%= @user.stickers_packs.find_by(album_id: 1).quantity %> </strong> pacotes de figurinhas. </p>
    </div>
    <div class="modal__body__image">
      <%= image_tag "stickers-packs.png" %>
    </div>
    <%= button_to "Abrir um novo pacote", :method=> "open_sticker_pack", class:"btn btn--secondary" if @user.stickers_packs.find_by(album_id: 1).quantity > 0%>
  </div>
</div>

<%= javascript_include_tag("helpers/flip_effect.js") %>
<%= javascript_include_tag("helpers/open_and_close_modal.js") %>

  
