<div class="main-screen">
  <%= render 'shared/main-nav' %>
  <div class="main-content">
    <div style="width:100%; display:flex; justify-content: flex-end;">
      <div class="btn btn--primary modal__open">Abrir pacotinho</div>
    </div>
    <div class="album_pages">
      <div class="book-section">
          <div class="container">
            <%= render "page", album: @album %>
          </div>
          <button onclick="turnLeft()">Anterior</button> 
          <button onclick="turnRight()">Próximo</button>
          <br/>
      </div>
    </div>
  </div>
</div>


<div class="modal effect-shadow-2 modal--hidden">
  <header class="modal__header">
    <button class="modal__close btn btn--secondary"> X </button>
    <h3> Nova figurinha </h3>
  </header>
  <div class="modal__body">
    <div class="modal__body__info">
      <p> Você ainda tem <strong> <%= @user.stickers_packs.exists?(album_id: params[:album_id]) ? @user.stickers_packs.find_by(album_id: params[:album_id]).quantity : 0 %> </strong> pacotes de figurinhas. </p>
    </div>
    <div class="modal__body__image">
      <%= image_tag "stickers-packs.png" %>
    </div>
    <% if @user.stickers_packs.exists?(album_id: params[:album_id]) && @user.stickers_packs.find_by(album_id: params[:album_id]).quantity > 0 %>
      <%= button_to "Abrir um novo pacote", :method=> "open_sticker_pack", class:"btn btn--secondary"%>
    <% end %>
  </div>
</div>

<%= javascript_include_tag("helpers/flip_effect.js") %>
<%= javascript_include_tag("helpers/open_and_close_modal.js") %>

  
