<%= form_with model: sticker, multipart: true do |form| %>
  <% if sticker.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sticker.errors.count, "error") %> prohibited this Sticker from being saved:</h2>
      <ul>
        <% sticker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.label :code, "Código:" %>
    <%= form.text_field :code %>
    <%= form.label :description, "Descrição:" %>
    <%= form.text_area  :description %>
    <%= form.label :picture, "Imagem:" %>
    <%= form.file_field :picture %>
    <%= form.hidden_field :album_id, value: params[:album_id] %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
