<div class="specific-user-profile">
  <%= render 'users/user/profile_nav' %>
  <section class="section section--f-start">
    <container class="container container--list">
      <div class="header" style="justify-content: space-between">
        <%= link_to "Voltar", user_profile_path, class:"btn btn--secondary" %>
        <h4> Álbum </h4>
        <% if @user.permission.is_admin %>
          <div>
            <div class="btn btn--primary modal__open">Editar Álbum</div>
            <%= link_to "Editar Paginas", edit_album_pages_path(@album), class:"btn btn--primary" %>
          </div>
        <% else %>
          <div class="btn btn--primary modal__open">Participantes</div>
        <% end %>
      </div>
      <section class="section section--f-start">
        <%= render "albums/show", album: @album%>
      </section>
      <div class="header" style="justify-content: space-between">
        <div></div>
        <h4> Suas figurinhas repetidas </h4>
        <div></div>
      </div>
      <section class="section section--f-start">
        <% if @user.permission.is_admin %>
          <%= link_to "Adicionar novas Figurinhas", album_stickers_path, class:"btn btn--primary" %>
        <% end %>
        <%= render "stickers/show", stickers: @stickers, limit: 4 %>
    </section>
    </container>
  </div>
  <% if @user.permission.is_admin %>
    <div class="modal effect-shadow-2 modal--hidden">
      <header class="modal__header">
        <button class="modal__close btn btn--secondary"> X </button>
        <h3> Editar Álbum </h3>
      </header>
        <div class="modal__body">
          <div class="modal__body__text">
            <%= render 'albums/form', album: @album %>
          </div>
        </div>
    </div>

  <% else %>
    <div class="modal effect-shadow-2 modal--hidden">
      <header class="modal__header">
        <button class="modal__close btn btn--secondary"> X </button>
        <h3> Participantes </h3>
      </header>
        <div class="modal__body">
          <div class="modal__body__search">
            <%= form_with url: "", method: :get, class: "form" do |form|%>
              <%= form.text_field :query, class: "form__input" %>
            <% end %>
          </div>
          <div class="modal__body__participants">
            <% @participants.each do |participant|%>
              <div class="modal__body__participants__button">
                <%= link_to participant.name, specific_user_album_path(user_id: participant.id, album_id:@album.id), class:"btn btn--primary" %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </section>
  </div>

<% end %>
  <%= javascript_include_tag("helpers/open_and_close_modal.js") %>
