<div class="specific-user-profile">
  <%= render 'users/user/profile_nav' %>
  <container class="container container--list">
    <div class="header" style="justify-content: space-between">
      <%= link_to "Voltar para seu album", user_album_path(id: @album.id), class:"btn btn--secondary" %>
      <h4> Ãlbum </h4>
      <div class="btn btn--primary modal__open">Participantes</div>
    </div>
    <section class="section section--f-start">
      <%= render "albums/show", album: @album%>
    </section>
    <div class="header" style="justify-content: space-between">
      <div></div>
      <h4> Figurinhas repetidas de <%= @user.name == "" ? @user.email : @user.name%></h4>
      <div></div>
    </div>
    <section class="section section--f-start">
      <%= render "stickers/show", stickers: @stickers%>
      <%= link_to "Trocar figurinhas", exchange_path(user_id:@user.id, album_id:@album.id), class:"btn btn--primary" %>
  </section>
  </container>
</div>

<div class="modal effect-shadow-2 modal--hidden">
  <header class="modal__header">
    <button class="modal__close btn btn--secondary"> X </button>
    <h3> Participantes </h3>
  </header>
  <% @participants.each do |participant|%>
    <div class="modal__body">
      <div class="modal__body__text">
        <%= link_to participant.email, specific_user_album_path(id: participant.id, album_id:@album.id), class:"btn btn--primary" %>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_include_tag("helpers/open_and_close_modal.js") %>
