<section class="section register-section">
  <div class="container left">
    <%= render "users/shared/error_messages", resource: resource %>
    <br/>
    <br/>
    <div class="logo-container">
      <%= image_tag "fotoploc-logotipo.png" %> 
    </div>
    <br/>
    <br/>
    <header class="header-container">
      <h1>Esqueceu sua senha?</h1>
      <p>Receba um link para uma nova senha</p>
    </header>
    <br/>
    <div class="form-container">
      <%= render "form" %>
    </div>
    <%= render "users/shared/links" %>
    <%= render "users/shared/footer-basic"%>
  </div>
  <div class="container right">
    <%= image_tag "login-picture.png" %>
  </div>
</section>
<%= javascript_include_tag("helpers/password_confirmation.js") %>

